/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-08-30, 10:00:11
    Author     : tomek
*/
@import "compass";
            /* Variables */
$nav-height: 60px;
$nav-line-height: $nav-height;
$nav-bck-color: white;
$nav-text-color: #555A5E;
$category-blog-bg: #142840;
$category-blog-color: #71CEDC;
$text-color-black: #555A5E;

body {
    background-color: #4A5D7B !important;
    box-sizing: border-box;
}

                /* Nav */
nav {
   margin-top: 100px;
   display: grid;
   grid-template-columns: 5% 80% 10% 5%;
   grid-template-rows: 100%;
   height: $nav-line-height;
}
.hamburger {
    text-align: center;
    grid-column-start: 1;
    color: white;
    background-color:  #57CBC8;
    line-height: $nav-line-height;
}
.menu-list {
    grid-column-start: 2;
    @include horizontal-list;
    line-height: $nav-line-height;
    background: $nav-bck-color;
    color: $nav-text-color;
}
.menu-list li {
    padding-right: 50px;
}
.menu-list > ul > li:last-of-type{
    float: right;
    margin-right: 20px;
}
.social-icons {
    display: block;
    grid-column-start: 3;
    @include horizontal-list;
    line-height: $nav-line-height;
    background: $nav-bck-color;
    border-left: 1px solid #E0E2E1;
    color: $nav-text-color;
}


.person-icon {
    text-align: center;
    grid-column-start: 4;
    line-height: $nav-line-height;
    background: $nav-bck-color;
    border-left: 1px solid #E0E2E1;
    color: $nav-text-color;
}

                /* Scroll button */
.scroll {
    position: fixed;
    bottom: 20px;
    right: 70px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #F36563;
    line-height: 40px;
    text-align: center;
    @include border-radius(15px);
    cursor: pointer;
    display: none;
    transition: 0.6s;
}
.scroll:hover{
    bottom: 40px;
}

            /*main*/

     /* Left section */       
.blog {
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 700px;
    margin-top: 30px;
    background: white;
}
.blog-info {
     display: grid;
    grid-template-rows: 70% 30%;
        grid-column: 1;
}
.menu {
    grid-column-start: 1;
    grid-row: 1;  
};
.menu ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    color: $text-color-black;
    transition: 0.6s;
    li {
   border-bottom: 1px solid #E0E2E1;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    li .fa {
        float: left;
        margin-left: 50px;
       padding-bottom: 20px;
       font-size: 30px;
    }
    li:hover {
        background: #74CDDD;
        color: white;
         transition: 0.3s;
    }
}
.blog-contact {
    grid-column-start: 1;
    grid-row: 2; 
    color: white;
    background: #C5CDD0;
    margin-top: 1px;
}
.blog-contact ul {
    list-style: none;
    text-align: center;
    li {
        margin-top: 33px;
    }
      li .fa {
        float: left;
        font-size: 30px;
        
      }
}

.category-blog {
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column: 2;
}
.tech ul {
    list-style: none;
    li:first-of-type {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $category-blog-color;
    }
    li {
       padding-bottom: 5px;
    }
}
.tech {
    grid-row: 1;
    background-color:  $category-blog-bg;
    color: white;
    border-bottom: 1px solid #475D75;
}
.arrow {
   
    width: 30px;
    height: 30px;
    font-weight: 900;
    margin-right: 20px;
    float: right;
    color: $category-blog-bg;
    @include border-radius(50%);
    background: $category-blog-color;
    text-align: center;
}
.entertainment {
    grid-row-start: 2;
    background-color:  #263A55;
    color: white;
   border-bottom: 1px solid #475D75;
}
.entertainment ul {
    list-style: none;
    li:first-of-type {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $category-blog-color;
    }
    li {
     padding-bottom: 5px;
    }
}
.buisness{
    grid-row-start: 3;
    background-color:  $category-blog-bg;
    color: white;
    border-bottom: 1px solid #475D75;
}
.buisness ul {
    list-style: none;
    li:first-of-type {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $category-blog-color;
    }
    li {
       padding-bottom: 5px;
    }
}
.lifestyle{
    grid-row-start: 4;
    background-color:  $category-blog-bg;
    color: white;
   
}
.lifestyle ul {
    list-style: none;
    li:first-of-type {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $category-blog-color;
    }
    li {
       padding-bottom: 5px;
    }
}

/*right section */
.social-media {
     max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 700px;
    margin-top: 30px;
}
.social-media-names {
    grid-column: 1;
    grid-row: 1/3;
    background: white;
    text-align: center;
    color: $text-color-black;
    ul {
         list-style: none;
         font-size: 20px;
         padding: 20px;
         transition: 0.3s;
         li:first-of-type {
         margin-top: 20px;
         }
         li {
            margin-bottom: 30px;
         }
         li:hover {
            color: #50C7F2;
            transition: 0.3s;
            cursor: pointer;
         }
         li:hover .fa {
            background-color: #50C7F2;
            transition: 0.3s;
            cursor: pointer;
         }
          li .fa {
            float: left;
            margin-left: 50px;
            font-size: 20px;
            line-height: 35px;
            width: 35px;
            height: 35px;
            color: white;
            @include border-radius(50%);
            background: $text-color-black;
            text-align: center;
    }
    }
}
.facebook-tile {
    grid-column: 2;
    grid-row: 1;
    background-color: #4D6BAB;
    margin-left: 30px;
    margin-bottom: 15px;
    .fa {
        color: white;
        font-size: 55px;
        margin-left: 20px;
        margin-top: 25px;
    }
    p{
        color: white;
        font-weight: 800;
        position: relative;
        top: 45px;
        margin-left: 30px;
    }
    .follow-space {
        margin-left: 90px;
        font-weight: 300;
    }
    .follow-add {
        font-weight: 800;
        font-size: 20px;
    }
}
.twitter-tile {
    grid-column: 2;
    grid-row: 2;
    background-color: #4EC6F8;
    margin-left: 30px;
    margin-top: 15px;
    .fa {
        color: white;
        font-size: 55px;
        margin-left: 20px;
        margin-top: 25px;
    }
    p{
        color: white;
        font-weight: 800;
        position: relative;
        top: 45px;
        margin-left: 30px;
    }
    .follow-space {
        margin-left: 80px;
        font-weight: 300;
    }
    .follow-add {
        font-weight: 800;
        font-size: 20px;
    }
}
.sign-in-smedia {
    margin-top: 30px;
    grid-column: 1/3;
    grid-row: 3;
    background-color: white;
    h3{
        text-align: center;
        margin-top: 20px;
        color: $text-color-black;
    }
    p {
        text-align: center;
        color: $text-color-black;
    }
    ul {
        display: flex;
        justify-content: center;
        @include horizontal-list;
        li {
            margin-right: 20px;
            .fa {
                color: white;
                font-size: 19px;
                @include border-radius(50%);
                height: 30px;  
                width: 30px;
                text-align: center;
                line-height: 30px;
            }
            .fa-facebook {
                background-color: #4D6BAB;
            }
            .fa-twitter {
                background-color: #50C6F8;
            }
            .fa-google-plus {
                background-color: #EA6060;
            }
            .fa-linkedin {
                background-color: #248ECA;
            }
        }
    }
}
.newsletter {
    margin-top: 30px;
    grid-column: 1/3;
    grid-row: 4;
    background-color: white;
     h3{
        text-align: center;
        margin-top: 20px;
        color: $text-color-black;
    }
    p {
        text-align: center;
        color: $text-color-black;
        letter-spacing: -1px;
        font-size: 13px;
    }
    input {
        margin-left: 30px;
        width: 300px;
        display: inline-block
    }
    button {
        margin-left: 20px;
        height: 38px;
        width: 100px;
        background-color: #F36563;
        color: white;
         @include border-radius(10px);
         box-shadow: none;
    }
    button:hover {
        background-color: lighten(#F36563, 5%);
    }
}

/*carousel */
.image-carousel {
    margin-top: 30px;
    width: 100%;
    height: 500px;

    img {
        height: 500px;
        background-size: cover;
        opacity: 0.6;
    }
    button {
        background-color: transparent;
        color: white;
        width: 150px;
        height: 50px;
        @include border-radius(5px);
        border: 1px solid white;
        float: left;
    }
    h2 {
        font-size: 45px;
        margin-bottom: 30px;
        text-align: initial;
    }
    p {
        text-align: initial;
    }
}
.d-none {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 300px;
}

/* story */

.video-panel  .col-lg-4 {
    padding-right: 0;
}
.video-panel  .col-lg-8 {
    padding-left: 0;
}

.story{
    margin-top: 30px;
    background-color: white;
    height: 300px;
    position: relative;
    .fa {
        position: absolute;
        top: 50px;
        color: white;
        background-color: #EA6060;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
    }
    .text-story{
        position: absolute;
        left: 50px;
        top: 50px;
        margin-right: 40px;
        text-align: inherit;
        h3{
          color: $text-color-black;
          letter-spacing: -2px;
          font-weight: 550;
        }
        h6{
          margin-top: 20px;  
         color: lighten($text-color-black, 15%);
        }
        p{
          margin-top: 40px;
          color: lighten($text-color-black, 5%);
          span {
              color: red;
          }
        }
    }
}
.taxi-img {
    margin-top: 30px;
    background-image: url(../images/taxi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
        ul{
            background-color: rgba(52, 73, 94,0.9);
            list-style: none;
            color: white;
            font-size: 40px;
            height: 100%;
            width: 200px;
        }
}